/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1{
    background: #6C6F74;
}

.color-2{
    background: #CC0705;
}

.color-3{
    background: #F2F0F2;
}

.color-4{
    background: #710403;
}

.color-5{
    background: #000000;
}

/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Typography */
 .type1, .grid-3{
    font-family: copperplate;
}

.type2, .grid-3{
    font-family: Rockwell;
   
}

h2{
     color: 710403;
}

.button-a{
    background: #6C6F74;
    color: #ffffff;
}

.button-b{
    background: #F2F0F2;
    color: #6C6F74;
}

/* Forms */


/* Tables */


/* Cards */

.figure {
     background: 710403;
}
