/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1{
    background: #6C6F74;
}

.color-2{
    background: #CC0705;
}

.color-3{
    background: #F2F0F2;
}

.color-4{
    background: #710403;
}

.color-5{
    background: #000000;
}

/* Textures or Patterns*/


/* Imagery */


/* Icons */

icon-1{
    border: none;
}
icon-2{
    border: none;
}
icon-3{
    border: none;
}
icon-4{
    border: none;
}
icon-5{
    border: none;
}
/* Typography */
 .type1 {
    font-family: copperplate;
}

.type2 {
    font-family: rockwell extra bold;
   
}

h2{
     color: #710403;
}
 
h3{
    color: #6C6F74;
    
}

a{
    color: #CC0705;
}
.button-a{
    background: #6C6F74;
    color: #ffffff;
}

.button-b{
    background: #F2F0F2;
    color: #6C6F74;
}

/* Forms */


/* Tables */


/* Cards */

figure {
     background: #CC0705;
    
    
}
